<section id="contentino" data-info="create">
    <header>
        <div class="left">
        </div>
        <div class="right">
            <form class="form-search">
              <input type="text" class="input-medium search-query" placeholder="поиск по сайту">
              <button type="submit" class="btn">Search</button>
            </form>
        </div>
    </header>
    <div class="createBlock">
        <h1>Редактирование новости.</h1>
        <%= render 'form' %>
        <div id="backToTop" onclick="javascript:scroll(0,0)">На самый верх</div>
    </div>
</section>
